.menu-image:hover {
    scale: 1.2 1.2;
    /* z-index: 1;  */
}
.menu-text:hover {
    color: rgb(255, 119, 0);
}
.menu-text{
    text-shadow: 2px 2px 4px rgb(255, 119, 0);
    clear: left;
    /* display: inline-block; */
    /* border-bottom: 2px solid rgb(255, 119, 0); */
}
/* .menu-description{
   display: inline-block; 
} */
.menu-image{
    float: left;
    /* display: inline-block; */
    margin-right: 20px;
    margin-bottom: 20px;
    /* vertical-align: middle; */
    position: relative;
}

nav{
    clear: left;
}
body{
     /* background-image: url("../backgroundimg.jpg");  */
    max-width: 450px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
   
}


.inner-frame{
    /* border: 20px solid rgb(255, 119, 0);
    border-radius: 20px;
    padding: 20px; */
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    border-radius: 20px;
    border: rgb(255, 0, 140) 5px solid;
    overflow: visible;
}
html{
    background-image: url(../images/newrestimg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    text-align: center;
    margin-top: 40px;
}