h1{
    text-align: center;
    color: rgb(0, 255, 72);
}
p{text-align: center;
    font-size: 1.2em;
}
a{
    font-size: 1.5em;
}
img{
    border: 20px solid blue;
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}